*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
li{
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    list-style: none;
}
nav,ul{
    display: flex;
}
a,a:visited{
    text-decoration: none;
    color:rgb(0, 44, 153);
}
a:hover,
a:focus{
    text-decoration: underline;
    text-underline-offset: 10px;
    color:chocolate;

}
a:active{
    color:gold;
}
nav{
    justify-content: space-around;
    height: 10rem;
    align-items: center;
}
.image{
    float:left;
    height:300px; 
}
.main{
    position: absolute;
    width:80%;
    left:20%;
}